.maquina-container {

    max-width: 600 px;
margin: 50 px auto;
padding: 20px;
background: color #333;
border-radius: 15px; 
border: 10 px solid #daa520;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.bobinas {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    display: flex; justify-content: space-arpund;
    margin-bottom: 20 px;
}

.slot img {

    width: 150px;
    object-fit: contain;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;

}

#mensagem {

    min-height: 1.5em;
}